@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;


<h2>Stylist Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)<h3>

<h3>Clients:</h3>

<ul>
  @foreach(Client client in (dynamic)Model)
  {
    @if (@Model.Clients.Count == 0)
    {
      <p>This stylist has no clients yet</p>
    }
    else
    {
      <li>@Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId }) | @client.Stylist.Name</li> //property names of the object we pass in {id = item.ItemId} MUST match parameter names used by the target method (Details())
    }
  }
</ul>
<br>
<h3>Stylist's Reviews</h3>
<hr />
@foreach (Review review in (dynamic)Model)
{
  @if (@Model.Reviews.Count == 0)
  {
    <p>This stylist has no reviews</p>
  }
  else
  {
    <div id="card">
    <p>@review.Description</p>
    <h3>@review.Rating</h3>
    </div>
  }
}
<br>
<p>@Html.ActionLink("Add a review", "Create", "Reviews")</p>