@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;
@{
  Stylist stylist = new Stylist();
}

<h2>Stylist Details</h2>
<p>@Html.ActionLink("Edit info", "Edit", new { id = Model.StylistId }) |
@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>
<hr />
<h4>@Html.DisplayNameFor(model => model.Name)</h4><h3>@Html.DisplayFor(model => model.Name)</h3>
<br>
<h4>@Html.DisplayNameFor(model => model.Description)</h4><h3>"@Html.DisplayFor(model => model.Description)"<h4>
<hr />
<h3>Clients:</h3>

<ul>
  @foreach(Client client in Model.Clients)
  {
    @if (@Model.Clients.Count == 0)
    {
      <p>This stylist has no clients yet</p>
    }
    else
    {
      <div id="card">
      <li>@Html.ActionLink($"{client.Name}", "Details", "Clients", new {id = client.ClientId})</li>
      </div>
      <hr />
    }
  }
</ul>
<hr />
<h3>Stylist's Reviews:</h3>
<hr />
@foreach (Review review in Model.Reviews)
{
  @if (@Model.Reviews.Count == 0)
  {
    <p>This stylist has no reviews</p>
  }
  else
  {
    <div id="card">
    <h4>@review.Description</h4>
    <p>This client rated their experience @review.Rating /3 stars!</p>
    @Html.ActionLink("Edit Review", "Edit", "Reviews", new { id = Model.StylistId })
    <hr />
    </div>
  }
}
<form action="/Reviews/Create" method="get">
<button type="submit" class="btn">Add a Review</button>
</form>
