@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;


<h2>Stylist Details</h2>
<hr />
<h4>@Html.DisplayNameFor(model => model.Name)</h4><h3>@Html.DisplayFor(model => model.Name)</h3>
<br>
<h4>@Html.DisplayNameFor(model => model.Description)</h4><h3>"@Html.DisplayFor(model => model.Description)"<h4>
<hr />
<h3>Clients:</h3>

<ul>
  @foreach(Client client in Model.Clients)
  {
    @if (@Model.Clients.Count == 0)
    {
      <p>This stylist has no clients yet</p>
    }
    else
    {
      <li>@client.Name</li>
    @* @Html.ActionLink($"{}", "Details", new { id = client.ClientId }) *@
    }
  }
</ul>
<br>
<h3>Stylist's Reviews:</h3>
<hr />
@foreach (Review review in Model.Reviews)
{
  @if (@Model.Reviews.Count == 0)
  {
    <p>This stylist has no reviews</p>
  }
  else
  {
    <div id="card">
    <p>@review.Description</p>
    <p>This client rated their experience @review.Rating /3 stars!</p>
    </div>
  }
}
<br>
<p>@Html.ActionLink("Add a review", "Create", "Reviews")</p>