@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Edit Page</h2>
<hr />
<h4>Editing info for: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StylistId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    <br>
    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)
    <br>
    <br>
    <input type="submit" value="Update" form = "editForm" class="btn"/>
}
