@{
  Layout = "_Layout";
}

@model HairSalon.Models.Review

<h2>Edit Page</h2>

<h4>Editing review for: @Html.DisplayFor(model => model.StylistId)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ReviewId)

  @Html.LabelFor(model => model.Description)
  @Html.TextAreaFor(model => model.Description)
  <br>
  @Html.Label("1 Star")
  @Html.RadioButtonFor(model => model.Rating, 1)
  @Html.Label("2 Stars")
  @Html.RadioButtonFor(model => model.Rating, 2)
  @Html.Label("3 Stars")
  @Html.RadioButtonFor(model => model.Rating, 3)

  <input type="submit" value="Save Changes" />
}