@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Edit Page</h2>
<hr />
<h4>Editing information for: @Html.DisplayFor(model => model.Name)</h4>
@Html.ActionLink("I change my mind", "Details", new { id = Model.ClientId })
<hr />
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  <hr />
  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)
  <hr />
  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")
  <br>
  <br>
  <input type="submit" value="Save Changes" class="btn"/>
}